*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 10vh;
}

main{
    background: url("../img/flor.jpg") no-repeat center center ;
    background-size: cover;
    height: 90vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;


}

.mobile-menu{
    cursor: pointer;
    display: none;


}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;


}

.titulo{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    text-align: center


}

.titulo1{
    font-size: 40px; 
    background-color: #ffffff;
    padding: 0 10px;


}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }

    p{
        margin-top: 30px;


    }

    .paragrafo3{
        padding: 10px;
    }

    .paragrafo4{
        padding: 10px;

    }

    .Titulo-lista{
        padding: 10px;

    }

    .Titulo-lista2{
        padding: 10px;


    }

    .card{
        margin: auto;

    }

    .coluna2{
        border: none;
        padding: 0;

    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    
    .titulo1{
        font-size:  20px;


    }

    .titulo{
        width: 100%;
        height: 15px;
        border-bottom: 1px solid black;
        text-align: center
    
    
    }

    .paragrafo1{
        font-size: 15px;



    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

    .nav-list.active {
        transform: translateX(0);

    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }

    }

    .mobile-menu .active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);

    }

    .mobile-menu .active .line2{
        opacity: 0;
        
    }

    .mobile-menu .active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
        
    }

    .card{
        border: none;

    }


    .paragrafo1{
        text-align: center;

    }

    .cartao1{
        float: right;

    }

    .coluna2{
        border-left: 0.5px black solid;
        padding-left: 30px;
        box-sizing: border-box;
    



    }

    p{
        text-align: justify;


    }
      
    .Titulo-lista{
        width: 300px;

    }  

    .Titulo-lista2{
        width: 400px;
        margin-top: 40px;


    }
