body{

    background-color: rgb(255, 255, 255);
}

.image-link{
    margin: auto;


}

@media (max-width: 999px) {
    .container{
        margin-left: 17px;

    }
}

.container{
    margin-right: 100px;

}

.gallery-001{
    margin-top: 30px;

}